@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/experiment/libre-baskerville-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../public/fonts/experiment/libre-baskerville-1.ttf) format('truetype');
}
